---
import HTMLIcon from "../assets/images/icons/HTMLIcon.astro"
import PostCSSIcon from "../assets/images/icons/PostCSSIcon.astro"
import JavaScriptIcon from "../assets/images/icons/JavaScriptIcon.astro"
import ViteIcon from "../assets/images/icons/ViteIcon.astro"
import GitHubIcon from "../assets/images/icons/GithubIcon.astro"
import LinkIcon from "../assets/images/icons/LinkIcon.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-orange-900 text-white",
    icon: HTMLIcon
  },
  POSTCSS: {
    name: "PostCSS",
    class: "bg-red-900 text-white",
    icon: PostCSSIcon
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-800 text-white",
    icon: JavaScriptIcon
  },
  VITE: {
    name: "Vite",
    class: "bg-blue-900 text-white",
    icon: ViteIcon
  }
}

const PROJECTS = [
{
    title: "JRLinks",
    description: "I have created this page with the intention of having all my links in one place. You can find me on all my platforms here. 💜",
    link: "https://jrlinks.pages.dev/",
    github: "https://github.com/joserafael0160/JRLinks",
    image: "/assets/projects/jrlinks.webp",
    altImage: "JRLinks",
    tags: [TAGS.HTML, TAGS.POSTCSS, TAGS.JAVASCRIPT, TAGS.VITE]
  },{
    title: "Calculator",
    description: "This web page has been meticulously crafted to serve as a functional online calculator. It’s designed for quick calculations, making it a handy tool for anyone in need of basic mathematical operations. The calculator is easy to use and accessible to all. 💖",
    link: "https://joserafael0160.github.io/Calculator/",
    github: "https://github.com/joserafael0160/Calculator",
    image: "/assets/projects/calculator.webp",
    altImage: "Calculator",
    tags: [TAGS.HTML, TAGS.POSTCSS, TAGS.JAVASCRIPT, TAGS.VITE]
  },{
    title: "Age Calculator",
    description: "This project is an Age Calculator that allows users to calculate their age in years, months, and days based on their date of birth and a specific date they choose. When the user inputs their date of birth and the date on which they want to calculate their age, the application calculates the difference in years, months, and days between these two dates.📅🎂",
    link: "https://joserafael0160.github.io/Age-Calculator/",
    github: "https://github.com/joserafael0160/Age-Calculator",
    image: "/assets/projects/age-calculator.webp",
    altImage: "Age-Calculator",
    tags: [TAGS.HTML, TAGS.POSTCSS, TAGS.JAVASCRIPT, TAGS.VITE]
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, altImage, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={altImage} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row flex-wrap mb-2 gap-2">
            {tags.map((tag) => (
              <li>
                <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github} title=`${title} project repository`>
                <GitHubIcon class="size-6" />
                Code

              </LinkButton>
            )}
            {link && (
              <LinkButton href={link} title=`${title} website`>
                <LinkIcon class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>


